body {
    background-color: black!important;
    color: white!important;  /* Set text color to white or another contrasting color */
}

.navbar {
    background-color: black;
    color: white;  /* Set text color for navbar links */
}

.banner {
    background-color: red;
    padding: 10px; /* Add some padding to the banner */
}
