body {
    background-color: black!important;
    color: white!important;  /* Set text color to white or another contrasting color */
}

.navbar {
    background-color: black;
    color: white;  /* Set text color for navbar links */
}

.banner {
    background-color: red;
    padding: 10px; /* Add some padding to the banner */
}

/* Add some styling to the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Style table headers */
th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #343a40;  /* Dark background color for headers */
    color: white;
}

/* Add alternating row colors for better readability */
tr:nth-child(even) {
    background-color: #e5e5e5; /* Black background color for even rows */
    color: black; /* White text color for even rows */
}

tr:nth-child(odd) {
    background-color: #191919; /* White background color for odd rows */
    color: white; /* Black text color for odd rows */
}

/* Style the "Details" link in the last column */
.details-link {
    color: #007bff;  /* Blue color for links */
    text-decoration: none;
}

.details-link:hover {
    text-decoration: underline;
}

/*Card formatting for index page*/
.card {
    perspective: 1000px;
    width: 600px; /* Adjust the width as needed */
    height: 800px; /* Adjust the height as needed */
    margin: 0 auto; /* Center the card horizontally */
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content to the top */
}

.card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content to the top */
}

