<!-- races.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}D&D - Races{% endblock %}

{% block content %}
    <h1>Races</h1>
    <link rel="stylesheet" type="text/css" href="{% static 'dnd/style.css' %}">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ability Score</th>
                <th>Lifespan</th>
                <th>Size</th>
                <th>Speed</th>
                <th>Alignment</th>
                <th>Racial Traits</th>
            </tr>
        </thead>
        <tbody>
            {% for race in races %}
                <tr>
                    <td>{{ race.name }}</td>
                    <td>{{ race.ability_score }}</td>
                    <td>{{ race.lifespan }}</td>
                    <td>{{ race.size }}</td>
                    <td>{{ race.speed }}</td>
                    <td>{{ race.alignment }}</td>
                    <td>
                        {% if race.racial_traits %}
                            {{ race.racial_traits }}
                        {% else %}
                            No racial traits available.
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
